* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: black;
}
body {
	margin: 0;
	padding: 0;
}
.layout {
	display: flex;
	box-sizing: border-box;
	align-items: flex-start;
	gap: 0;
}
main {
	box-sizing: border-box;
	order: 2;
	flex: 0 1 auto;
	margin: 0 auto;
}
.contact_title {
	text-align: center;
}
.contact_title h1 {
	margin-bottom: 0.5em;
}
.type_list, .name_01_list, .name_02_list, .email_list, .message_list, .picture_list {
	display: flex;
	margin-bottom: 20px;
	padding: 10px;
}
.picture_list {
	gap: 10px;
}
.type_item, .name_01_item, .name_02_item, .email_item, .message_item, .picture_item {
	font-size: 25px;
	width: 15ch;
}
.type_item span, .name_01_item span, .name_02_item span, .email_item span, .message_item span, .picture_item span {
	color: rgba(255, 0, 0, 1);
}
.type_item_label {
	display: flex;
	gap: 10px;
	flex-wrap: nowrap;
}
.type_item_list_01 {
	display: block;
	width: 25ch;
	font-size: 25px;
	margin: 0 10px;
}
.type_item_list_02 {
	display: block;
	width: 16ch;
	font-size: 25px;
	margin: 0 10px;
}
.type_item_list_03 {
	display: block;
	width: 13ch;
	font-size: 25px;
	margin: 0 10px;
}
.type_item_list:hover {
	cursor: pointer;
}
input[type="radio"] {
	accent-color: rgba(225, 150, 150, 1);
}
input[type="text"], input[type="email"], textarea {
	all: unset;
	font-size: 25px;
	width: 60ch;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid rgba(150, 150, 150, 1);
	border-radius: 5px;
}
textarea {
	height: 5lh;
	resize: none;
}
.picture_item_list, .picture_item_list, .picture_item_0list, .picture_item_list, .picture_item_list {
	width: 150px;
	height: 150px;
	border: 1px dashed rgba(125, 125, 125, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 25px;
	color: rgba(125, 125, 125, 1);
	background-color: rgba(255, 255, 255, 1);
	overflow: hidden;
}
.picture_item_list img, .picture_item_list img, .picture_item_list img, .picture_item_list img, .picture_item_list img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}
input[type="file"] {
	display: none;
}
.form_submit {
	margin-top: 20px;
	text-align: center;
}
.form_submit button {
	background-color: rgba(125, 255, 0,1);
	color: rgba(255, 255, 255, 1);
	padding: 10px 20px;
	margin-bottom: 20px;
	font-size: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
	box-shadow: 0 5px 0 rgba(0, 200, 0, 1);
}
.form_submit button:hover {
	background-color: rgba(0, 255, 75, 1);
}
.form_submit button:active {
	transform: translateY(2px);
	box-shadow: 0 2px 0 rgba(0, 200, 0, 1);
}
#aside_placeholder {
	width: 25%;
	order: 1;
	margin: 0;
}